/core/audirvana/.logs/
/.logs/go_lastfm-scrobbler.log
/core/exec/.logs/
/shell/bin/lastfm-scrobbler
/config/config_bak.yaml
/internal/scrobbler/.logs/
/.logs/
/.storage/
/shell/bin/nowplaying-cli-mac
/venv/
